/* ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ */
  /* ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ */
    /* ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ */
      /* ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ ТЕКСТА ПОДКЛЮЧЕНИЯ И ТАК ДАЛЕЕ */

.playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

html {
    background-color: rgb(25,25,25);
}

 /* ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА*/
  /* ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА*/
   /* ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА*/
    /* ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА ШАПКА*/

.header {  
    width: auto; height: 150px;
    padding: 8px 12px;
    background-color: rgb(17, 17, 17);
    
}

.headerDiv {
    width: auto; height: 150px;
    position: relative;
 
}

.headerPanel {
    right: 0px;
    width: 700px;
    height: 150px;
    position: absolute;
    display: flex;
    margin: 0 auto;
    align-items: center;
    
}

.paw { 
    position: absolute;
    bottom: 0;
}

.notificButton img {
    filter: invert(100%);
    width: 30px;
 

}

.notificButton {
    text-align: center;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.headerAva img {

    width: 100px;
    height: 100px;
}

.headerAva {
    width: 100px;
    height: 100px;
    padding:40px;
}

.headerNick p {
    color: aliceblue;
    font-size: 32px;
    font-family: "Playfair Display", serif;  
}

.headerNick {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    
}
.avaArrow {
   
    padding:25px;
}


/* БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ */
  /* БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ */
    /* БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ */
       /* БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ БАДИ */

.main {
    border: 2px dashed rgb(255, 219, 219);
    background-color: black;

    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width:990px;
    height:810px;
}

/* БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) */
  /* БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) */
    /* БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) */
      /* БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) БЛОК НОМЕР 1 (ПРОФИЛЬ) */

.profile-block {

    background-image: linear-gradient(10deg, #1b1919, #333030, #535050);
    border: 2px dashed rgb(255, 219, 219);

    /* background-image:-o-linear-gradient(); */
    height:670px;
    width: 505px;
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 50px;

    /* display: flex; */
    
}

.ava-status {
    display: flex;
}

.block-1 {
    background-image: linear-gradient(180deg, #363434, #4F4D4D, #4F4D4D);
    border: 2px dashed rgb(255, 219, 219);

    background-color: aqua;
    height:310px;
    width: 295px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 50px;

   
}

.block-2 {
    background-image: linear-gradient(180deg, #1d1d1d, #4F4D4D, #4F4D4D);
    border: 2px dashed rgb(255, 219, 219);

    height:310px;
    width: 295px;
    text-align: center;
    border-radius: 50px;
    
}

.status p {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Playfair Display", serif;  


}

.status {
    width: fit-content; 
    height: fit-content;
    margin-left: 40px;
    margin-top: 9px;
    
}
.Zagolovok {
    width: fit-content; 
    height: fit-content;
    display: inline-block;
}
.contact {
    width: fit-content; 
    height: fit-content;
   
}
.contact p {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Playfair Display", serif;  
   
}
.zagolovok p {
    font-size: 32px;
    color: #FFFFFF;
    font-family: "Playfair Display", serif;  
}
.socsety {
    
}

.ava {
    left:0; 
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-left: 35px;
    margin-top: 35px;


}

.ava img {
    width:167px;
    height:167px;
    
}
   
   


